@model App_Data.Model.ProductDetail

@{
    ViewData["Title"] = "CreateSpDetail";
}

<h1>CreateSpDetail</h1>

<h4>ProductDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSpDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <select asp-for="Idproduct" class="form-control" asp-items="@ViewBag.ProductList"></select>
                <label for="floatingInputEmail">Product</label>
                <span asp-validation-for="Idproduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Idcolor" class="form-control" asp-items="@ViewBag.ColorList"></select>
                <label for="floatingInputEmail">Color</label>
                <span asp-validation-for="Idcolor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Idsize" class="form-control" asp-items="@ViewBag.SizeList"></select>
                <label for="floatingInputEmail">Size</label>
                <span asp-validation-for="Idsize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="IdSale" class="form-control" asp-items="@ViewBag.SaleList"></select>
                <label for="floatingInputEmail">Sale</label>
                <span asp-validation-for="IdSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CongNgheManHinh" class="control-label"></label>
                <input asp-for="CongNgheManHinh" class="form-control" />
                <span asp-validation-for="CongNgheManHinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaoHanh" class="control-label"></label>
                <input asp-for="BaoHanh" class="form-control" />
                <span asp-validation-for="BaoHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Series" class="control-label"></label>
                <input asp-for="Series" class="form-control" />
                <span asp-validation-for="Series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoPhanGiai" class="control-label"></label>
                <input asp-for="DoPhanGiai" class="form-control" />
                <span asp-validation-for="DoPhanGiai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTon" class="control-label"></label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaSale" class="control-label"></label>
                <input asp-for="GiaSale" class="form-control" />
                <span asp-validation-for="GiaSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhaSanXuat" class="control-label"></label>
                <input asp-for="NhaSanXuat" class="form-control" />
                <span asp-validation-for="NhaSanXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheLoai" class="control-label"></label>
                <input asp-for="TheLoai" class="form-control" />
                <span asp-validation-for="TheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySanXuat" class="control-label"></label>
                <input asp-for="NgaySanXuat" class="form-control" />
                <span asp-validation-for="NgaySanXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiKhuyenMai" class="control-label"></label>
                <input asp-for="TrangThaiKhuyenMai" class="form-control" />
                <span asp-validation-for="TrangThaiKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
